#pjax-container {
    thead th {
        white-space: nowrap;
        text-align: center;
    }

    .form-group label  {
        color: #555555;
    }
}

.modal-dialog {
    text-align: left;
}

.modal-content .modal-header {
    position: relative;
    .close {
        position: absolute;
        top: 16px;
        right: 22px;
    }
}

.message-container {

    .message-pop-wrap {
        display: block;

        &.message-right {
            text-align: right;
        }
        &.message-left {
            text-align: left;
            .message-pop {
                background-color: #fff;
            }
        }

        .message-pop-name {
            font-size: 14px;
            color: #555555;
            margin-bottom: 8px;
        }

        .message-pop {
            display: inline-block;
            max-width: 80%;
            padding: 10px;
            text-align: left;
            border-radius: 4px;
            box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
            margin-bottom: 20px;
            background-color: #daf4fe;
            .message-text {
                margin: 0;
            }
        }
    }
}
